*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: monospace;
    color: white;
}

.container{
    width: 100%;
    height: 109vh;
    background-image: url(https://images.unsplash.com/photo-1707343846292-0c11438d145f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background: linear-gradient(to top rgba(0,0,0,0)50%,rgba(0,0,0,0)50%)
}

li a button{
    font-family: monospace;
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

.logo{
    cursor: pointer;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    color: white;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

button a{
    background-color: rgba(0,136,169,1);
}